@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This work belongs to:</p>
<ul>
    <li>Ricardo Levi Gomes Pinheiro de Azevedo, n.º 23033</li>
    <li>Pedro David Gomes Pinheiro de Azevedo, n.º 23035</li>
    <li>Cátia Isabel Martins Moreira, n.º 41122</li>
    <li>João Pedro Gamito Taborda, n.º 41123</li>
</ul>
