@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Video Visualization System</h1>
    <br />
    <p class="lead">É uma coisa espectacular que dá pa ver videos e tira cafés.</p>
</div>

<div class="row"> @*style="margin-left: 120px;">*@
    <div class="col-md-4">
        <h2>Search Video</h2>
        <p>
            Procurar vídeos
        </p>
        <p><a style="width: 150px" class="btn btn-default" href='@Url.Action("Index", "Search")'><span class="glyphicon glyphicon-search"/></a></p>
    </div>
    <div class="col-md-4">
        <h2>Upload Video</h2>
        <p>
            Carregar videos
        </p>
        <p><a style="width: 150px" class="btn btn-default" href='@Url.Action("Index", "Upload")'><span class="glyphicon glyphicon-cloud-upload" /></a></p>
    </div>
    <div class="col-md-4">
        <h2>Channels</h2>
        <p>
            Canais dos utilizadores
        </p>
        <p><a style="width: 150px" class="btn btn-default" href='@Url.Action("Index", "SearchChannel")'><span class="glyphicon glyphicon-user" /></a></p>
    </div>
</div>